<igx-nav-drawer id="main-navigation"  #drawer [isOpen]="true" [pin]="true" [pinThreshold]="0">
    <ng-template igxDrawer>
        <nav>
            <a routerLink="/dashboard"  igxDrawerItem>LOGO</a>
            <a *ngFor="let item of mainNavItems"
                  igxDrawerItem
                  [routerLink]="item.path"
                  [routerLinkActive]="'igx-nav-drawer__item--active'"
                  igxRipple
                  >
                <igx-icon fontSet="material">{{ item.icon }}</igx-icon>
                <span>{{ item.text }}</span>
            </a>
            <div class="fab-toggle">
                <span class="fab-toggle__text">Collapse</span>
                <button igxButton="fab"  igxToggleAction="main-navigation">
                    <igx-icon fontSet="material">menu</igx-icon>
                </button>
            </div>
        </nav>
    </ng-template>

    <ng-template igxDrawerMini>
        <nav>
            <a *ngFor="let item of mainNavItems"
                  igxDrawerItem
                  [routerLink]="item.path"
                  [routerLinkActive]="'igx-nav-drawer__item--active'"
                  igxRipple
            >
                <igx-icon fontSet="material">{{ item.icon }}</igx-icon>
            </a>
            <div class="fab-toggle">
                <button igxButton="fab" igxToggleAction="main-navigation">
                    <igx-icon fontSet="material">menu</igx-icon>
                </button>
            </div>
        </nav>
    </ng-template>
</igx-nav-drawer>
