@import '../layout-config';

:host {
  display: flex;
}

#site-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

@include b(main-content) {
  grid-template-columns: 0.3fr 1fr;
  grid-template-rows: 1fr;
  padding: $page-gap;
  overflow-y: auto;
}

