@import '../../layout-config';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.filtering-buttons-row,
.editing-buttons-row {
  min-height: 50px;
  display: flex;
  align-items: center;
  margin-bottom: $grid-gap / 2;
  // TODO REMOVE HARDCODET COLORS
  border-bottom: 1px solid #ddd;
}

.search-row {
  margin-bottom: $grid-gap / 3;
}

.grid-wrapper {
  flex: 1;
}
