@import '../../layout-config';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

igx-divider {
  min-height: 1px;
}

.filtering-buttons-row, {
  min-height: 50px;
  display: flex;
  align-items: center;
}

.search-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: $grid-gap;
  margin-top: $grid-gap / 1.5;
}

.search-row__input {
  flex: 1;
  max-width: rem(600px);
  min-width: rem(250px)
}


.grid-wrapper {
  flex: 1;
}
