@import '../../layout-config';

:host {
    display: flex;
    flex-direction: column;

    @include b(section) {
        margin: $grid-gap 0;

        &:first-of-type {
            margin-top: 0;
        }

        &:last-of-type {
            margin-bottom: 0;
        }

        @include e(header) {
            font-size: rem(32px);
        }
    }

    @include b(order-stats) {
        display: grid;
        grid-template-columns: repeat(auto-fill, 260px);
        grid-auto-rows: auto;
        grid-gap: $grid-gap;

        @include e(item) {
            display: flex;
            align-items: center;
        }

        @include e(icon) {
            font-size: rem(48px);
            height: rem(48px);
            width: rem(48px);
            color: var(--igx-primary-500);
            margin-right: rem(8px);
        }

        @include e(divider) {
            min-width: 1px;
            height: rem(56px);
            display: inline-flex;
            margin: 0 rem(16px) !important;
        }

        @include e(label) {
            font-size: rem(16px);
        }

        @include e(numbers) {
            display: flex;
            align-items: flex-start;
            font-size: rem(32px);
            line-height: 1;
        }

        @include e(inner) {
            line-height: normal;
        }

        @include e(numbers-percent) {
            margin-left: rem(8px);
            display: flex;
            align-items: center;
            font-size: rem(12px);
            line-height: 1;
        }

        @include e(numbers-icon) {
            font-size: rem(18px);
            width: rem(18px);
            height: rem(18px);
        }
    }

    @include b(grid-wrapper) {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        grid-auto-rows: auto;
        grid-gap: $grid-gap;

        @include e(card) {
            max-height: 100%;

            igx-card-media {
                margin: 0 auto;
                background: #fff;
            }
        }

        @include e(card, $m: charts) {
            align-items: center;
            justify-content: center;
            max-height: 100%;
            height: 100%;
        }

        @include m(fixed-height) {
            grid-auto-rows: rem(290px);
        }
    }

    @include b(chart) {
        @include e(legend) {
            display:flex;
            align-items: center;
        }

        @include e(legend-item) {
            display: flex;
            align-items: center;

            span {
                margin-right: rem(4px);
            }

            &:last-of-type {
                margin-left: rem(8px)
            }
        }

        @include e(linear-label) {
            font-size: 12px;
        }

        @include e(col) {
            display: flex;
            width: 100%;
            flex-direction: column;
            padding: $grid-gap
        }

        @include e(row) {
            display: flex;
            width: 100%;
        }

        @include m(pie) {
            flex-direction: row-reverse !important;
        }

        .ig-chart-legend-item {
            display: flex;
            align-items: center;
            > * {
                display: flex;
            }
            padding-bottom: rem(8px);
        }

        .ig-chart-legend-item-badge {
            margin-right: rem(4px);
        }

        .igx-pie-chart {
            margin-right: rem(8px);
        }
    }

    igx-linear-gauge {
        width: 100%;
    }
}


