@import '../../layout-config';

:host {
    display: flex;
    flex-direction: column;

    @include b(carousel) {
        :focus {
            outline: none;
        }

        @include e(slide) {
            display: flex;
            justify-content: center;
        }

        @include e(card) {
            width: 100% !important;
            height: 100%;

            img {
                width: 100%;
            }
        }

        @include e(card-divider) {
            height: rem(10px);
            width: rem(2px);
            margin: 0 rem(4px);
        }

        @include e(card-total-earned) {
            color: var(--igx-warn-500);
        }

        .igx-card__media {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    @include b(section) {
        padding: $page-gap 0;

        &:first-of-type {
            padding-top: 0;
        }

        @include e(header) {
            display: flex;
            justify-content: space-between;

            margin-bottom: rem(18px);

            h1 {
                font-size: rem(24px);
                margin: 0;
                line-height: normal;
                @include ellipsis();
            }
        }

        @include e(header-actions) {
            display: flex;
            align-items: center;
            > * {
                margin-left: rem(8px);

                &:first-of-type {
                    margin-left: 0;
                }
            }
        }

        @include e(row) {
            display: flex;
            align-items: center;
        }

        @include e(col) {
            display: flex;
            flex-direction: column;
            flex: 1;

            margin-left: rem(16px);

            &:first-of-type {
                margin-left: 0;
            }
        }
    }

    @include b(order-stats) {
        display: flex;
        align-items: center;
        padding: ($grid-gap / 2) 0;

        @include e(icon) {
            font-size: rem(48px);
            height: rem(48px);
            width: rem(48px);
            color: var(--igx-primary-500);
            margin-right: rem(8px);
        }

        @include e(divider) {
            min-width: 1px;
            height: rem(56px);
            display: inline-flex;
            margin: 0 rem(16px) !important;
        }

        @include e(item) {
            display: flex;
            align-items: center;
        }

        @include e(label) {
            font-size: rem(16px);
        }

        @include e(numbers) {
            display: flex;
            align-items: flex-start;
            font-size: rem(32px);
            line-height: 1;
        }

        @include e(inner) {
            line-height: normal;
        }

        @include e(numbers-percent) {
            margin-left: rem(8px);
            display: flex;
            align-items: center;
            font-size: rem(12px);
            line-height: 1;
        }

        @include e(numbers-icon) {
            font-size: rem(18px);
            width: rem(18px);
            height: rem(18px);
        }
    }
}


