@import '~igniteui-angular/lib/core/styles/themes/index';
@import '~igniteui-angular/lib/core/styles/base/index';

// Vars
$gap: rem(32px);
$page-gap: $gap;
$grid-gap: $gap;
$form-gap: rem(24px);
$section-space: rem(16px);
$drawer-width: rem(228px);

$danger-color: var(--igx-error-500);
$success-color: var(--igx-success-500);
$warn-color: var(--igx-warn-500);
$logo-graphic-color: #FF9801;
$logo-graphic-color-dark: #fff;
$logo-text-color: var(--igx-navdrawer-item-hover-text-color);

$card-min-width: rem(320px);

.danger-color {
    color: $danger-color
}

.warn-color {
    color: $success-color
}

.success-color {
    color: $warn-color
}
