@import '~minireset.css/minireset';
@import 'layout-config';

/* autoprefixer grid: on 
$schema: $light-indigo-schema;
$app-palette: $light-indigo-palette;

@include igx-core();
@include igx-theme($palette: $app-palette, $schema: $schema);

// Generate css variables from given palette.
@include igx-palette-vars($app-palette, $contrast: true);*/

// mimic the default request to the theme api service, so it wouldn't wait for the response initially
$custom-palette: igx-palette($primary: #3f51b5,$secondary: #3f51b5,$surface: #fff,$error: #cf1a2b,$success: #689f38,$warn: #ff9800,$info: #9208bc,$grays: #060716);
@include igx-core();
@include igx-theme($palette: $custom-palette, $schema: $light-indigo-schema, $roundness: null, $elevation: null, $legacy-support: null);
@include igx-typography($font-family: "Nunito Sans", $type-scale: $indigo-type-scale);
:root {
	@include igx-palette-vars($custom-palette, true);
	--igx-background-500: #fff;
}

html, body {
    height: 100%;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

body {
    background: var(--igx-surface-500);
    color: var(--igx-surface-500-contrast);
}

.igx-bootstrap-light-theme,
.igx-bootstrap-dark-theme {
    .card-stats-horizontal__header {
        margin-bottom: 0 !important;
        align-self: center;
    }
}

.igx-nav-drawer__item > igx-icon + span, .igx-nav-drawer__item--active > igx-icon + span {
    margin-left: rem(4px) !important;
}

// TODO fix max width in Indigo theme
.igx-fluent-light-theme,
.igx-fluent-dark-theme,
.igx-dark-theme,
.igx-light-theme,
.igx-bootstrap-light-theme,
.igx-bootstrap-dark-theme {
    .igx-nav-drawer__aside--mini .igx-nav-drawer__item,
    .igx-nav-drawer__aside--mini .igx-nav-drawer__item--active {
        max-width: 100%;
    }
}

