@import "~minireset.css/minireset";
@import "layout-config";

/* autoprefixer grid: on */

@include igx-core();
@include igx-indigo-light-theme($light-indigo-palette);

// Generate css variables from given palette.
@include igx-palette-vars($light-indigo-palette, $contrast: true);

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  background: var(--igx-surface-500);
  color: var(--igx-surface-500-contrast);
}
