@import '../../layout-config';

:host {
    ::ng-deep {
        .igx-badge__circle {
            max-width: rem(10px);
            height: rem(10px);
            min-width: rem(10px)
        }
    }

    @include b(user-nav) {
        @include e(notification) {
            position: relative;
        }

        @include e(badge) {
            position: absolute;
            background: #FF9801;
            top: 0;
            right: 0;
            max-width: rem(10px);
            height: rem(10px);
            min-width: rem(10px)
        }

        @include e(profile) {
            cursor: pointer;
            margin-left: rem(32px);

            .igx-avatar {
                margin-right: rem(8px);
            }
        }

        @include e(profile-text) {
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            line-height: 1.2;
            font-size: rem(14px);
            span {
                font-size: rem(12px)
            }

            @media only screen and (max-width: 650px) {
                display: none;
            }
        }
    }

    @include b(dropdown) {
        @include e(item) {
            display: flex;
            white-space: nowrap;
            justify-content: flex-start;
            align-items: center;
        }

        @include e(colors) {
            position: relative;
            width: rem(30px);
            height: rem(25px);
            margin-right: rem(8px);
        }

        @include e(color) {
            position: absolute;
            border: 1px solid var(--igx-drop-down-background-color);
            border-radius: 50%;
        }

        @include e(color, $m: primary) {
            width: rem(20px);
            height: rem(20px);
            top: 0;
            left: 0;
            z-index:2;
        }

        @include e(color, $m: secondary) {
            width: rem(16px);
            height: rem(16px);
            bottom: 0;
            right: 0;
            z-index:1;
        }

        @include e(loading) {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: var(--igx-grays-100);
        }
    }
}

