<igx-navbar class="user-nav" [title]="title" [isActionButtonVisible]="true">
    <div class="user-nav__profile" igxLayout igxLayoutDir="row" igxLayoutItemAlign="center">
        <igx-avatar size="small" [roundShape]="true"  src="https://picsum.photos/id/1005/200/300"></igx-avatar>
        <div class="user-nav__profile-text" >
            <strong class="user-nav__profile-name">User name</strong>
            <span class="user-nav__profile-role">Admin</span>
        </div>
    </div>
    <igx-icon igxButton="icon">
        support
    </igx-icon>
    <button igxButton="icon">
        <igx-icon class="user-nav__notification">
            <igx-badge type="success" class="user-nav__badge"></igx-badge>
            notifications
        </igx-icon>
    </button>

    <button igxButton="icon">
        <igx-icon
            igxRipple [igxToggleAction]="dropDown"
            [igxToggleOutlet]="outlet"
            [overlaySettings]="overlaySettings">
            palette
        </igx-icon>
    </button>
    <!--<igniteui-theming-widget themeUrl="https://igniteuithemingwidget-staging.infragistics.com/api/taas"></igniteui-theming-widget>-->
    <igx-drop-down class="dropdown" #dropDown (onClosing)='onDropDownClosing($event)' (onSelection)="onThemeSelectionHandler($event)" [width]="'200px'" >
        <igx-drop-down-item *ngFor="let theme of themes" [value]="theme.globalTheme">
            <div class="dropdown__item">
                <div class="dropdown__colors">
                    <span class="dropdown__color dropdown__color--primary"
                          [style.background]='getCurrentPrimaryColor(theme.globalTheme)'>
                    </span>
                    <span class="dropdown__color dropdown__color--secondary"
                          [style.background]='getCurrentSecondaryColor(theme.globalTheme)'>
                    </span>
                </div>
                <span class="dropdown__label">{{theme.name}}</span>
            </div>
        </igx-drop-down-item>
        <div class="dropdown__loading" [ngStyle]="{'visibility': isLoading ? 'visible' : 'hidden' }">
            <igx-circular-bar class="itw-loader" [animate]="false" [indeterminate]="true" [textVisibility]="false">
            </igx-circular-bar>
        </div>
    </igx-drop-down>
    <div class="itw-overlayOutlet" igxOverlayOutlet #outlet="overlay-outlet"></div>

</igx-navbar>
